<div class="header">
  <div class="logo-container">
    <a href="/user/dashboard">
      <img src="/assets/images/new-logo.png" alt="Logo" />
    </a>
  </div>
  <div class="button-container">
    <button class="header-button help-button">
      <i class="fas fa-bell"></i>
    </button>
    <button id="helpButton" class="header-button help-button">
      <i class="fas fa-question-circle"></i>
    </button>
    <button class="header-button logout-button" id="logoutBtn">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</div>
