<body>
  <div class="main-content">
    <h1>Browse Products</h1>
    <div class="filter-actions">
      <div class="filter-links">
        <a href="userViewProducts.html" class="filter-button active">Product List</a>
        <a href="userCart.html" class="filter-button" style="position: relative">
          Cart
          <span class="cart-item-count"></span>
        </a>
        <a href="productPickup.html" class="filter-button">Pickup Schedule</a>
      </div>
    </div>

    <div class="container">
      <div class="box2">
        <div class="product-list">
          <div class="product">
            <img src="/assets/images/placeholder_100x100.png" alt="Badminton Racket" />
            <h3 class="product-name">Badminton Racket 1</h3>
            <p class="brand">Brand: Yonex</p>
            <p class="stocks">Stocks: 10</p>
            <div class="button-container">
              <p class="price">$59.99</p>
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="product">
            <img src="/assets/images/placeholder_100x100.png" alt="Badminton Racket" />
            <h3 class="product-name">Badminton Racket 1</h3>
            <p class="brand">Brand: Yonex</p>
            <p class="stocks">Stocks: 10</p>
            <div class="button-container">
              <p class="price">$59.99</p>
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
          <div class="product">
            <img src="/assets/images/placeholder_100x100.png" alt="Badminton Racket" />
            <h3 class="product-name">Badminton Racket 1</h3>
            <p class="brand">Brand: Yonex</p>
            <p class="stocks">Stocks: 10</p>
            <div class="button-container">
              <p class="price">$59.99</p>
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
          <div class="product">
            <img src="/assets/images/placeholder_100x100.png" alt="Badminton Racket" />
            <h3 class="product-name">Badminton Racket 1</h3>
            <p class="brand">Brand: Yonex</p>
            <p class="stocks">Stocks: 10</p>
            <div class="button-container">
              <p class="price">$59.99</p>
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
          <div class="product">
            <img src="/assets/images/placeholder_100x100.png" alt="Badminton Racket" />
            <h3 class="product-name">Badminton Racket 1</h3>
            <p class="brand">Brand: Yonex</p>
            <p class="stocks">Stocks: 10</p>
            <div class="button-container">
              <p class="price">$59.99</p>
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
          <div class="product">
            <img src="/assets/images/placeholder_100x100.png" alt="Badminton Racket" />
            <h3 class="product-name">Badminton Racket 1</h3>
            <p class="brand">Brand: Yonex</p>
            <p class="stocks">Stocks: 10</p>
            <div class="button-container">
              <p class="price">$59.99</p>
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
